:root {
  --hero-blue: #1b3f6f;
  --secondary-blue: #2d578f;
  --accent-yellow: #ffff00;
}
* {
    font-family: 'Nunito Sans', sans-serif;
    /* For webkit */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
body, html {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
.container {
  width: 100%;
}

.justify {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.adjust {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  color: var(--secondary-blue);
}


/* Navigation Bar */


.navbar {
  position: fixed;
  width: 100%;
  background-color: none;
  z-index: 10;
  margin: 0 auto!important;
}

.navcontent {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1.5fr 2fr;
  }

.quote {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  background-color: rgba(45,87,143,255);
  color: white;
  text-decoration: none;
}

.quote:hover {
  text-decoration: underline;
}

.mainnav{
  display: grid;
  grid-row: 2;
  grid-column: 2;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  background-color: white;
}

.nav-logo img {
  height: 150px;
  padding: 20px 20px;
}

.nav-logo {
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 180px;
  grid-column: 1;
  grid-row: 1/4;
}

nav ul li a {
  color: rgba(45,87,143,255);
  text-decoration: none;
  font-weight: 500;
}

nav ul li {
  padding: 10px 27px;
}

nav ul li:hover {
  background-color: rgba(45,87,143,255);
}

nav ul li:hover a {
  color: white;
  background-color: rgba(45,87,143,255);
}

nav ul li a.menu-active {
  color: white;
  text-decoration: underline;
  background-color: rgba(45,87,143,255);
  font-weight: 600;
}

.list-style-remove {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
  z-index: -2;
}

.banner {
  height: 90vh;
}

/* Banner's children div */
.intro-container {
  position: absolute;
  height: calc(100% - 156px);
  width: 100%;
  bottom: 0;
  left: 0;
}

.intro-box {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
}

.intro-box > div{
  position: absolute;
  height: fit-content;
  padding: 0 3em 2em;
  max-width: 550px;
  bottom: 150px;
}

.intro-box div h1{
  text-transform: uppercase;
  margin-bottom: 0;
}

.intro-box div p {
  margin-top: 0;
  font-size: 1.2em;
}
.align-right {
  display: grid;
  justify-content: end;
}
.intro-box a {
  font-weight: bold;
  color: var(--secondary-blue);
}

section {
  padding-bottom: 100px;
}

.yellow-strike::after, .yellow-strike::before {
  content: "";
  background-color: var(--accent-yellow);
  height: 4px;
}

.yellow-strike {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  align-items: center;
}

.title h1 {
  padding: 0 20px;
  margin: 0 0;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.four-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3em;
  margin-top: 3em;
}
.make-square {
  aspect-ratio: 1 / 1;
}
.card {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  background-color: var(--hero-blue);
  padding: 19px;
  color: white;
}

.card-img-frame {
  height: 100%;
  width: 100%;
}

.card > img {
  margin: 0 auto;
}

.fill-img {
  padding: 0 !important;
}

.fill-img > img {
  object-fit: cover !important;
  height: 100% !important;
  width: 100% !important;
}

.right-arrow {
  position: absolute;
  bottom: 0; left: 0;
  transition: left 0.5s ease;
  z-index: 1;
}

.moving:hover .right-arrow {
  left: 10px;
  transition: left 0.5s ease;
}

.right-arrow > img {
  width: 30px;
}

.card .text h2 {
  text-align: center !important;
  padding: 0;
  margin-bottom: 0;
}

/* Special CSS for style */
.button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: var(--accent-yellow);
  color: var(--hero-blue);
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover,
.button:focus {
  background: var(--secondary-blue);
  color: white;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}

.small-clip-corner {
  position: relative;
  overflow: hidden;
}

.small-clip-corner::after {
  content: "";
  position: absolute;
  bottom: -1px; left: -1px;
  width: 30%; 
  height: 30%;
  background-color: white;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.clip-corner {
  position: relative;
  overflow: hidden;
}

.clip-corner::after {
  content: "";
  position: absolute;
  bottom: -1px; left: 0;
  width: 10vw; 
  height: 10vw;
  background-color: white;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.blued {
  background-color: var(--hero-blue);
  color: white !important;
  padding: 30px 0;
}

.blued h1 {
  color: white;
}

.blued .small-clip-corner::after {
  background-color: var(--hero-blue) !important;
}

.corner-cut {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.corner-cut:after,
.corner-cut:before {
  position: absolute;
  content: '';
  width: 100%;
  left: 0px;
  z-index: -1;
  
}
.filled-white::before, .filled-white::after {
  background-color: white !important;
}
.filled-transparent::before, .filled-transparent::after {
  background-color: rgba(255, 255, 255, 0.6);
}

:root {
  --border-dash: dashed var(--hero-blue);
}
.dash-border::before {
  border: var(--border-dash);
  border-width: 2px 2px 0 2px;
  height: calc(60% - 4px) !important;
}
.dash-border::after {
  border: var(--border-dash);
  border-width: 0 2px 2px 2px;
}
.corner-cut::before {
  height: 60%;
  top: 0px;
}
.corner-cut::after {
  height: 40%;
  bottom: 0px;
  transform: skew(45deg);
  transform-origin: left top;
}

/* End of special CSS */